body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;   
    background-color:#272932;
    font-family: garamond;
    overflow: hidden;
    color: #D8A47F;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: slideTextTop 2s ease forwards;
}

.first {
    font-size: 5vh;  
    font-weight: bolder;
    margin-bottom: 1.5vh; 
}

.second {
    font-size: 3vh; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.searchbar {
    width: 40vw;            
    height: 12vh;           
    background-color:#E7ECEF;
    border: 0.3vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;      
    margin-top: 3vh;          
    animation: slideBoxBottom 2s ease forwards;
    animation-delay: 2s; 
    border-radius: 3vh;       
    font-weight: bolder;
    color: #272932;
    overflow: hidden;
}

@keyframes slideTextTop {
    from {
        transform: translateY(0); 
        opacity: 0;
    }
    to {
        transform: translateY(-35vh); 
        opacity: 1;
    }
}

.typing {
  display: inline-block;
  white-space: nowrap;
  border-right: 0.4vh solid #272932; 
  overflow: hidden;
  width: 0;
  animation: typing 1.9s steps(20, end) infinite alternate,
             blink 0.6s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to   { width: 20ch; }  
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes slideBoxBottom {
    from {
        transform: translateY(0);  
        opacity: 0;
        width: 40vw;     
    }
    to {
        transform: translateY(35vh); 
        opacity: 1;
        width: 98%;
    }
}

.icon {
    position: fixed; 
    top: 0;            
    left: 0;           
    font-size: 4.5vh;   
    margin: 1.5vh;    
    color: #E7ECEF;  
}

.history {
    position: fixed; 
    z-index: 1000;         
    top: 1.5vh;             
    right: 1.5vh;  
    padding: 1vh 2vw;        
    font-size: 2vh;          
    font-weight: bolder;
    color: #272932;              
    background-color: #E7ECEF;  
    border: none;              
    border-radius: 1.5vh;    
    cursor: pointer;
    box-shadow: 0 0.3vh 0.7vh rgba(0,0,0,0.2); 
    transition: all 0.2s ease;  
}
